body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #222222;
    height: 240px;
    padding: 32px 0 0 0;
    /* center content on y axis */
}

.header-home{
    /* full page header */
    height: 100vh;
    background-color: #222222;
    padding: 100px 0 0 0;
}

.header-home-description {
    /* make text big and prominent */
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: 300;
    margin: 0;
    max-width: 1500px;
    /* align center */
    margin: 0 auto;
}

.header-home-title {
    /* make text big and prominent */
    font-size: 4em;
    color: #FFFFFF;
    font-weight: 300;
    margin: 0;
    text-align: center;
    padding-bottom: 40px;
}


.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 584px;
}

.wrapper {
    display: flex;
  justify-content: center;
    width: 90%;
  margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

#page-content div .menu{
    padding-top:13px;
   }

   
   /* Header */
#page-content div .header{
    min-height:257px;
   }
   
   /* Paragraph */
   #page-content .header p{
    transform:translatex(0px) translatey(5px);
   }
   

/* Paragraph */
#page-content .header p{
    width:584px;
    max-width:1184px;
    min-width:1019px;
    font-size:20px;
    font-weight:500;
   }
   

.card {
    margin-bottom: 24px;
    margin-bottom: 12px;
    margin: 0 auto;
    width: 120%;
    max-width: 100%;
    padding: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    display: flex;
  justify-content: center;
}

/* Card */
#page-content div .card{
 min-height:584px;
}



/* Card */
#react-entry-point #_dash-global-error-container div div div #_dash-app-content div #page-content div .wrapper .card{
 width:200% !important;
}


.menu {
    height: 112px;
    width: 1212px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.logo-image {
    width: 20%;
    height: auto;
    /* center the image */
    margin: 0 auto;
    justify-self: unset;
    /* add some padding */
    padding: 4px;
}

.js-plotly-plot .svg-container{
    min-height:584px;
   }

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    height: auto;
    /* change font */
    font-family: "Lato", sans-serif;
  }
  
  .checkmark input{
    margin: 0px 3px 0px 0px;
  }
  
  .checkmark label{
    margin: 0px 20px 0px 3px;
  }

/* Paragraph */
.home-para {
    text-align:center;
    font-size:40px;
    text-transform:none;
    line-height:1.4em;
    font-weight:500;
    color: #FFFFFF;
    font-weight: 300;
    max-width: 1300px;
    margin: 0 auto;
   }
   
   /* Heading */
.home-heading{
    font-weight:700;
    line-height:1em;
    font-size:100px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
   }
   
/* Paragraph */
#page-content div .home-para{
    transform:translatex(0px) translatey(12px);
    font-size:30px;
    font-weight:700;
   }
   
   
.dropdown-multi {
    width: 256px;
    height: 48px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 10px;
}


.menu-explore {
    height: 112px;
    width: 1212px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu-experiment {
    height: 112px;
    width:324px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}


.Select-control-explore {
    width: 256px;
    height: 48px;
}

.Select--single-explore > .Select-control-explore .Select-value-explore, .Select-placeholder-explore {
    line-height: 48px;
}

.Select--multi-explore .Select-value-label-explore {
    line-height: 32px;
}

.menu-title-explore {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.menu-title-warning {
    margin-top: 40px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #f90000;
}


/* Division */
.menu-explore > div:nth-child(1){
    width:591px;
   }
   
   #input-filter .dropdown-multi .Select-control-explore{
    width:208%;
   }
   
   /* Menu */
   #page-content div .menu-explore{
    min-height:171px;
   }
   
/* Select control */
#input-filter .dropdown-multi .Select-control{
    width:231%;
   }
   
   /* Menu explore */
   #page-content div .menu-experiment{

    width:324px;
   }

   /* Division */
#page-content div .menu-experiment > div{
    width:300px;
   }
   
   